In [3]:
import pandas as pd

In [13]:
df = pd.read_spss('data/AGREGA DE CONSUMO.sav')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11536 entries, 0 to 11535
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   REGION                   11536 non-null  category
 1   DEPTO                    11536 non-null  category
 2   AREA                     11536 non-null  category
 3   UPM                      11536 non-null  float64
 4   NUMHOG                   11536 non-null  float64
 5   FACTOR                   11536 non-null  float64
 6   FACTOR3                  11536 non-null  float64
 7   THOGAR                   11536 non-null  float64
 8   fact_geo                 11536 non-null  float64
 9   PPB04                    11536 non-null  float64
 10  PPD04                    11536 non-null  category
 11  DIA_ENC                  11536 non-null  float64
 12  MES_ENC                  11535 non-null  category
 13  A_ENC                    11535 non-null  float64
 14  comen3                   11536 non-null  float64
 15  casas3                   11536 non-null  float64
 16  aguas3                   11536 non-null  float64
 17  educa3                   11536 non-null  float64
 18  salud3                   11536 non-null  float64
 19  equip3                   11536 non-null  float64
 20  buses3                   11536 non-null  float64
 21  gasto3                   11536 non-null  float64
 22  ayuda3                   11536 non-null  float64
 23  agreg3                   11536 non-null  float64
 24  Infla06_12_alimentos     11536 non-null  float64
 25  Infla06_12_no_alimentos  11536 non-null  float64
 26  li_extre                 11536 non-null  float64
 27  li_gener                 11536 non-null  float64
 28  pobreza                  11536 non-null  category
 29  pob_ext                  11536 non-null  category
 30  pob_gen                  11536 non-null  category
 31  pob_no                   11536 non-null  float64
 32  tiles50                  11536 non-null  float64
 33  Decil                    11536 non-null  float64
 34  Quintil                  11536 non-null  float64
dtypes: category(8), float64(27)
memory usage: 2.5 MB

In [20]:
df = pd.read_spss('data/Compras al crédito - encabezado-.sav')
df['P15B04'] = df['P15B04'].fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11526 entries, 0 to 11525
Data columns (total 17 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   REGION   11526 non-null  category
 1   DEPTO    11526 non-null  category
 2   AREA     11526 non-null  category
 3   UPM      11526 non-null  float64
 4   NUMHOG   11526 non-null  float64
 5   FACTOR   11526 non-null  float64
 6   POBREZA  11526 non-null  category
 7   THOGAR   11515 non-null  float64
 8   P15B01   11526 non-null  category
 9   P15B02   422 non-null    float64
 10  P15B03   11526 non-null  category
 11  P15B04   11526 non-null  float64
 12  P15B05   11526 non-null  category
 13  P15B06A  619 non-null    float64
 14  DIA_ENC  11526 non-null  float64
 15  MES_ENC  11525 non-null  category
 16  A_ENC    11525 non-null  float64
dtypes: category(8), float64(9)
memory usage: 902.6 KB

In [35]:
df = pd.read_spss('data/PERSONAS.sav')

In [37]:
df

,REGION,DEPTO,AREA,UPM,NUMHOG,FACTOR,POBREZA,THOGAR,ID,PPA02,...,P11A10A,P11A10B,P11B01A,P11B01B,P11B02A,P11B02B,P11B03A,P11B03B,P11B04A,P11B04B
0,I. METROPOLITANA,Guatemala,Urbana,1.0,1.0,525.0,No pobre,3.0,1.0,HOMBRE,...,NO,NaN,NO,NaN,NO,NaN,NO,NaN,NO,NaN
1,I. METROPOLITANA,Guatemala,Urbana,1.0,1.0,525.0,No pobre,3.0,2.0,MUJER,...,NO,NaN,NO,NaN,NO,NaN,NO,NaN,NO,NaN
2,I. METROPOLITANA,Guatemala,Urbana,1.0,1.0,525.0,No pobre,3.0,3.0,MUJER,...,NO,NaN,NO,NaN,NO,NaN,NO,NaN,NO,NaN
3,I. METROPOLITANA,Guatemala,Urbana,1.0,2.0,525.0,No pobre,3.0,1.0,MUJER,...,NO,NaN,NO,NaN,NO,NaN,NO,NaN,NO,NaN
4,I. METROPOLITANA,Guatemala,Urbana,1.0,2.0,525.0,No pobre,3.0,2.0,HOMBRE,...,NO,NaN,NO,NaN,NO,NaN,NO,NaN,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54817,VIII. PETEN,Petén,Rural,833.0,11536.0,305.0,Pobre ext.,6.0,2.0,MUJER,...,NO,NaN,NO,NaN,NO,NaN,NO,NaN,NO,NaN
54818,VIII. PETEN,Petén,Rural,833.0,11536.0,305.0,Pobre ext.,6.0,3.0,HOMBRE,...,NO,NaN,NO,NaN,NO,NaN,NO,NaN,NO,NaN
54819,VIII. PETEN,Petén,Rural,833.0,11536.0,305.0,Pobre ext.,6.0,4.0,MUJER,...,NO,NaN,NO,NaN,NO,NaN,NO,NaN,NO,NaN
54820,VIII. PETEN,Petén,Rural,833.0,11536.0,305.0,Pobre ext.,6.0,5.0,MUJER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54821,VIII. PETEN,Petén,Rural,833.0,11536.0,305.0,Pobre ext.,6.0,6.0,MUJER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df = pd.read_spss('data/DONACIONES.sav')

count     1596.000000
mean      1484.255639
std       4254.103542
min          1.000000
25%        150.000000
50%        400.000000
75%       1076.250000
max      64800.000000
Name: P01F03, dtype: float64